NEXT_PUBLIC_SOLANA_PAYMENT_RECIPIENT_ADDRESS=
NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

AWS_S3_BUCKET_NAME=paceterminal
AWS_S3_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=AKIA5P7O54Y5QGIQDW4E
AWS_SECRET_ACCESS_KEY=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
